<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- <h2>{{ message.split('').reverse().join('') }}</h2> -->
        <div class="product">
            <div class="product-image">
                <img :src="image" :alt="masker_mahal">
            </div>
            <div class="product-info">

                <!-- conditional rendering -->
                <p v-show="inStock">In Stock</p>
                <p v-if="inventory > 10">In Stock </p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost Sold Out!</p>
                <p v-else>Out Of Stock</p>

                <!-- interpolation -->
                <h1>{{ product }}</h1>
                <p>hallo my name is {{ firstName + ' ' + lastName }}, I want to tell u about {{ desc }}</p>

                <!-- attribute binding -->
                <a :href="link">translate to english</a>

                <!-- list rendering -->
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <div v-for="variant in variants" :key="variant.variantId">
                    <p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
                </div>

                <!-- event handling -->
                <div class="cart">
                    <p>Cart({{ cart }})</p>
                </div>
                <!-- cara 1 -->
                <!-- <button v-on:click="cart += 1">Add To Cart</button> -->
                <!-- cara 2 -->
                <button v-on:click="addToCart">Add To Cart</button>&nbsp;
                <button v-on:click="cancelToCart">Cancel</button>

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
</body>

</html>